/* === CSS RESET === */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* === End of CSS RESET === */

body {
	background: white;
	color: black;
	font-size: 19px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 400;
	font-style: normal;
	overflow: hidden;
}
h1 {
	font-size: 75px;
	line-height: 1.3em;
	font-family: 'Playfair Display', serif;
	letter-spacing:-1px;
	color:#74c0bb;
}

a, a:visited {
	color:rgba(120,147,62,1);
	text-decoration: none;
	border-bottom: 2px dotted;
	transition: color 0.2s;
}

a:hover {
	color: #AAA;
}

a:active {
	color: lightblue;
}

.big {
	display: block;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 10px;
}

.wrapper div {
	position: absolute;
}

.settings, nav {
	position: fixed;
	z-index: 9999999;
	right:130px;
	bottom:120px;
	background: rgba(178,204,131,1);
	font-family: brandon-grotesque, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 11px;
}

.settings a {
	border: none;
}

#gentlewater {
	display:block;
	position:fixed;
	top:10px;
	text-align:center;
	transform: scale(0.6);
	background-color: rgba(0,0,0,0);
}

nav li {
	position:fixed;
}

nav a {
/*	display: block;*/
	width: 25px;
	height: 25px;
	line-height: 25px;
	border: none;
	text-align: center;
	transition: 0.25s;
}

nav a:hover {
	color: rgba(10,10,10, 1);
}

#l1 {
	position:absolute;
	top:5px;
	left:25px;
}

#l2 {
	position:absolute;
	top:20px;
	left:10px;
}

#l3 {
	position:absolute;
	top:35px;
	left:25px;
}

#l4 {
	position:absolute;
	top:50px;
	left:10px;
}

#l5 {
	position:absolute;
	top:65px;
	left:25px;
}

#l6 {
	position:absolute;
	top:83px;
	left:36px;
}

#l7 {
	position:absolute;
	top:83px;
	left:54px;
}

#l8 {
	position:absolute;
	top:83px;
	left:72px;
}

#l9 {
	position:absolute;
	top:74px;
	left:90px;
}

#l10 {
	position:absolute;
	top:65px;
	left:106px;
}

#l11 {
	position:absolute;
	top:50px;
	left:106px;
}

#l12 {
	position:absolute;
	top:50px;
	left:91px;
}

#l13 {
	position:absolute;
	top:35px;
	left:106px;
}

#l14 {
	position:absolute;
	top:35px;
	left:91px;
}

#l15 {
	position:absolute;
	top:5px;
	left:106px;
}

#l16 {
	position:absolute;
	top:5px;
	left:91px;
}

#l17 {
	position:absolute;
	top:5px;
	left:76px;
}

#l18 {
	position:absolute;
	top:5px;
	left:51px;
}

video {
	position:absolute;
	-webkit-box-shadow: 9px 10px 39px -13px rgba(0,0,0,0.62);
	-moz-box-shadow: 9px 10px 39px -13px rgba(0,0,0,0.62);
	box-shadow: 9px 10px 39px -13px rgba(0,0,0,0.62);
	transition: all .5s ease-in-out;
}

video:hover {
	transform: scale(1.3); 
}

img {
	position:absolute;
	opacity:0.89;
	transition: all .5s ease-in-out;
}

img:hover {
	transform: scale(1.3); 
}

.sp-canvas {
	display: none;
}

.arrow {
	position: relative;
	display: inline-block;

}

.home { 
	width: 800px;
	font-size: 20px;
	text-align: center;
	top:45%;
}

.home .arrow {
	font-size: 20px;
	animation: point-down 0.5s alternate infinite;
}

#rect1 {
	top:-180px;
	left:30px;
	width:720px;
	height:550px;
	z-index:-100;
}

.map {
	position:fixed;
	right:24px;
	bottom:116px;
	font-size:13px;
	line-height:1em;
	text-align:center;
	opacity:0.5;
}
.second {
	top: 550px;
	left: -770px;
	width: 500px;
}

.big2 {
	top:-200px;
	left:-20px;
	font-size:53px;
	font-family: 'Playfair Display', serif;
	line-height:2em;
	color:#3a7298;
}

.sec1 {
	top:-90px;
	left:-20px;
	max-width:400px;
}

#narcity {
	top:-90px;
	left:-635px;
}

.third {
	top: 1510px;
	left: 430px;
	width: 500px;
}

.big3 {
	top:315px;
	left:-76px;
	font-size:53px;
	font-family: 'Playfair Display', serif;
	line-height:2em;
	color:#ef875b;
}

#morning {
	top:15px;
	left:100px;
	width:500px;
	height:auto;
	z-index:-1;
}

.thi1 {
	top:55px;
	left:-530px;
	max-width:440px;
}

.thi2 {
	top:415px;
	left:-76px;
	max-width:400px;
}

#roadline {
	top:2210px;
	left:-420px;
	width:auto;
	height:2500px;
	z-index:-1000;
}

#roadline:hover {
	transform: scale(1); 
}

.fourth {
	top: 4700px;
	left: 500px;
	width: 400px;
}

.big4 {
	top:-130px;
	left:-580px;
	font-size:53px;
	font-family: 'Playfair Display', serif;
	line-height:2em;
	color:#235192;
}

.fou1 {
	top:-20px;
	left:-580px;
	max-width:400px;
}

.fou2 {
	top:283px;
	left:228px;
	font-weight: 700;
	font-style: normal;
	opacity:0.5;
}

#parkingsigns {
	top:-20px;
	left:228px;
	width:360px;
	height:auto;
	opacity:1;
	z-index:-2;
}

#ferry {
	top:-15px;
	left:-140px;
	width:320px;
	height:auto;
	z-index:-2;
}


.fifth {
	left: 2500px;
	top: 6740px;
	width: 460px;
}

.big5 {
	top:-290px;
	left:-280px;
	font-size:53px;
	font-family: 'Playfair Display', serif;
	line-height:2em;
	color:#75c0bb;
}

.fif1 {
	top:-125px;
	left:80px;
	max-width:470px;
}

/*#car {
	top:-80px;
	left:-80px;
	width:320px;
	height:auto;
}*/

#map {
	top:-200px;
	left:-710px;
	width:900px;
	height:auto;
	z-index:-2;
}

.sixth {
	left: 4500px;
	top: 6740px;
	width: 400px;
}

.big6 {
	top:-35px;
	left:-650px;
	font-size:53px;
	font-family: 'Playfair Display', serif;
	text-align:right;
	line-height:1.1em;
	color:#75a541;
}

.six1 {
	top:100px;
	left:-480px;
	max-width:400px;
}

#water {
	top:-60px;
	left:50px;
	width:600px;
	height:auto;
	z-index:-2;
}

#bigrock {
	width:450px;
	height:auto;
	top:-320px;
	left:-320px;
	z-index:-5;
}

.seventh {
	top: 6740px;
	left: 6000px;
	width: 800px;
/*	transform: rotate(90deg) translateX(50px);*/
}

.big7 {
	top:-75px;
	left:-680px;
	font-size:53px;
	font-family: 'Playfair Display', serif;
	line-height:1.1em;
	color:#75c0bb;
}

.sev1 {
	top:69px;
	left:-680px;
	max-width:27vw
}

.sev2 {
	top:125px;
	left:-285px;
	max-width:21vw;
}

.sev3 {
	top:125px;
	left:385px;
	max-width:21vw;
}

#island {
	top:-310px;
	left:-285px;
	width:300px;
	height:auto;
	opacity:0.95;
	z-index:-2;
}

#waterfall {
	top:-310px;
	left:50px;
	width:300px;
	height:auto;
	z-index:-2;
}

#swim {
	top:-310px;
	left:385px;
	width:300px;
	height:auto;
	z-index:-2;
}

.eighth {
	top: 6740px;
	left: 7535px;
	width: 475px;
/*	transform: rotate(90deg) translateX(50px);*/
}

.big8 {
	top:10px;
	left:-630px;
	font-size:55px;
	font-family: 'Playfair Display', serif;
	line-height:1.1em;
	color:#ef875b;
}

.eig1 {
	top: -270px;
	left: 40px;
	max-width:30vw;
}

#unicorn {
	top:-250px;
	left:-340px;
	width:330px;
	height:auto;
	z-index:-2;
}

#fannybay {
	top:20px;
	left:-340px;
	width:330px;
	height:auto;
	z-index:-2;
}

.eig2 {
	top: 15px;
	left: 40px;
	max-width:30vw;
}

.ninth {
	top: 5940px;
	left: 8900px;
	width: 475px;
}

.big9 {
	top:150px;
	left:-1020px;
	font-size:55px;
	font-family: 'Playfair Display', serif;
	line-height:1.1em;
	color:#235192;
}

#smallferry {
	top: -260px;
	left: -705px;
	width:auto;
	height:400px;
}

#hornbyferry {
	top:-260px;
	left:-1020px;
	width:auto;
	height:400px;
}


.nin1 {
	top:-270px;
	left:-135px;
	max-width:300px;
}

.tenth {
	top: 4240px;
	left: 9150px;
	width: 475px;
}

.big10 {
	top:-180px;
	left:-380px;
	font-size:55px;
	font-family: 'Playfair Display', serif;
	line-height:1.1em;
	color:#50753c;
}

#road {
	top:-100px;
	left:100px;
	width:30vw;
	height:auto;
	z-index:-1000;
}

.ten1 {
	top:-100px;
	left:-380px;
	max-width:30vw;
}

.ten2 {
	top:-340px;
	left:-135px;
	max-width:400px;
}

.eleventh {
	top:2840px;
	left:9200px;
	width: 475px;
}

.big11 {
	top:155px;
	left:-630px;
	font-size:55px;
	font-family: 'Playfair Display', serif;
	line-height:1em;
	color:#c7cec4;
	z-index:2;
}

.ele1 {
	top:187px;
	left:-115px;
	opacity:0.3;
}


.ele2 {
	top:190px;
	left:126px;
	opacity:0.1;
}

#forest {
	top:-230px;
	left:-630px;
	height:auto;
	max-width:34.5vw;
	z-index:-1000;
}

#escarpment {
	top:-230px;
	left:-115px;
	height:auto;
	max-width:14.5vw;
	z-index:-1000;
}

#view {
	top:-230px;
	left:126px;
	height:auto;
	max-width:34.5vw;
	z-index:-1000;
}

.twelfth {
	top:2840px;
	left:7500px;
	width:475px;
}

.big12 {
	top:-45px;
	left:-420px;
	font-size:55px;
	font-family: 'Playfair Display', serif;
	line-height:1em;
	color:#c7cec4;
	z-index:2;
}

.twe1 {
	top:-45px;
	left:-140px;
	max-width:27vw;
}

.thirteenth {
	top:1540px;
	left:8800px;
	width:400px;
}

.big13 {
	top:-140px;
	left:-660px;
	font-size:55px;
	font-family: 'Playfair Display', serif;
	line-height:1em;
	color:#75c0bb;
	transform:rotate(-90deg);
	z-index:2;
}

.thir1 {
	top:-267px;
	left:-440px;
	max-width:23vw;
}

.thir2 {
	top:-267px;
	left:-70px;
	max-width:23vw;
}

#beach {
	top:20px;
	left:-440px;
	max-width:25vw;
	height:auto;
	opacity:0.8;
	z-index:-2;
}

#splash {
	top:-250px;
	left:305px;
	max-width:21vw;
	height:auto;
	z-index:-2;
}

#texture {
	top:20px;
	left:-70px;
	max-width:25vw;
	height:auto;
	z-index:-2;
}

.fourteenth {
	top:1540px;
	left:7500px;
	width:500px;
}

.big14 {
	top:-243px;
	left:-655px;
	font-size:55px;
	font-family: 'Playfair Display', serif;
	line-height:1em;
	color:#8c7e78;
	z-index:2;
}

.four1 {
	top:-240px;
	left:-440px;
	max-width:30vw;
}

.four2 {
	top:-48px;
	left:15px;
	max-width:29vw;
}

#back {
	top:-45px;
	left:-440px;
	max-width:30vw;
	height:auto;
	opacity:0.8;
	z-index:-2;
}

.fifteenth {
	top:50px;
	left:9200px;
	width:500px;
}

.big15 {
	top:-249px;
	left:0px;
	font-size:55px;
	font-family: 'Playfair Display', serif;
	line-height:1.2em;
	color:#3a7298;
	z-index:2;
}

.fift1 {
	top:-80px;
	left:0;
	max-width:30vw;
}

#dragonfly {
	top:-190px;
	left:-550px;
	max-width:35vw;
	height:auto;
	z-index:-2;
}

.sixteenth {
	top:50px;
	left:7200px;
	width:700px;
}

.big16 {
	top:20px;
	left:-505px;
	font-size:55px;
	font-family: 'Playfair Display', serif;
	line-height:1em;
	color:#c7cec4;
	z-index:2;
}

.big16A {
	top:80px;
	left:-365px;
	font-size:55px;
	font-family: 'Playfair Display', serif;
	line-height:1em;
	color:#c7cec4;
	z-index:2;
}

.sixt1 {
	top:185px;
	left:-300px;
	max-width:27vw;
}

.sixt2 {
	top:185px;
	left:127px;
	max-width:27vw;
}

#sunset {
	top:-315px;
	left:-300px;
	max-width:55vw;
	max-height:auto;
	z-index:-1000;
}

.seventeenth {
	top:50px;
	left:5200px;
	width:400px;
}

.seve1 {
	top:-197px;
	left:-180px;
	max-width:27vw;
}

.eighteenth {
	top:50px;
	left:3200px;
}

#campground {
	top:-315px;
	left:-380px;
	max-width:55vw;
	max-height:auto;
	z-index:-1000;
}

.highlight {
	animation: highlight 0.2s alternate 6 ;
}

@keyframes point-down {
	from {
		top: 0;
	}
	to {
		top: 5px;
	}
}

@keyframes highlight {
	to {
		background: lightblue;
	}
}
