/*
.scroll {
	position: fixed;
    top: 0;
    left: 0;
}*/
/*.container{
	background:white;
	height:100%;
	width:3000px;
}*/

/*.background {
	width:2300px;
	height:auto;
}*/
.front {
	position:absolute;
	bottom:0px;
	width:5000px;
	height:30%;
	z-index:200;
}

.ferry {
	position:fixed;
	bottom:140px;
	left:37%;
	width:30%;
	height:auto;
	z-index:1000;
	opacity:0.95;
}


.orange {
	width: 5000px;
	position: absolute;
	bottom: 0;
	height:50%;
	z-index:100;
}

.black {
	position:absolute;
	top: 0;
	width: 5000px;
	height:30%;
	z-index:0;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding:5px;
    -webkit-border-radius:3px;

    font-family:sans-serif;
    text-decoration: none;
    color: initial;
    z-index:300;
    position:absolute;
    right:10%;
    bottom:20px;
}
