body {
	background:black;
}

/*#section1,
#section2,
#section3 {
	width:500px;
	height:500px;
	background:orange;
	position:absolute;
	left:50%;
	top:50px;
}

#section2 {
	top:3000px;
	width:700px;
}

#section3 {
	top: 7000px;
	left:4000px;
}*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

#temp, #weather {
	font-family: 'Roboto', sans-serif;
	font-size:2em;
	color:white;
	padding-left:50%;
	padding-top:20%;
}

#visibility {
	background:white;
	width:24%;
	height:100%;
	opacity:1;
	position:absolute;
	left:0px;
	top:0px;
}